@import "tailwindcss";

@theme {
--color-brown:    #475569;  
--color-copper:   #5b8def;  
--color-blush:    #7db7f5;  
--color-offwhite: #eff6ff1c;
--color-cherry:   #bfdbfe;

}


body {
  
  overscroll-behavior: none;
}

.animated-bg {
  /* background-color: white; */
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;

}


@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}